/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body{
  font-family: var();
}
.S1{
  background: linear-gradient(to right, var(--white) 0%, var(--white) 50%, black 50%, black 100%);
  height: 600px;
  margin-bottom: 200px;
}

.row{
    margin:auto 0;
    width: 100%;
    float: left;
    position: relative;
    left: 12px;
    height: 500px;
    z-index:5;   
    display: flex;
    justify-content: space-around;
    vertical-align: baseline;

}

.colu{
  position: relative;
  top: 15%;
  height: 300px;
  width: 420px;
  font-size: 100%;
  text-align: left;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 1px 1px 1px var(--strong-shadow);
  text-align: center;
  padding: 10px;
  margin-bottom: 80px;
  
}
.colu2{
  position: relative;
  top: 15%;
  height: 300px;
  width: 420px;
  font-size: 100%;
  text-align: left;
  background-color: var(--white);
  box-shadow: 0 1px 1px 1px var(--strong-shadow);
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
h3{
  font-weight: bolder;
}
.colu img{
  margin-bottom: 10px;
}

.botoncito{
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 600;
  position: relative;
  top: 20px;
}

.botoncito2{
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 600;
  position: relative;
  top: 20px;
}

.botoncito:hover {
  background-color: var(--blue);
  color: var(--white);
}

.botoncito2:hover {
  background-color: var(--blue);
  color: var(--black);
}
.S2{
  height: 650px;
}
form{
  background-color: var(--black);
  width: 60%;
  padding: 5%;
  padding-top: 2%;
  min-width: 350px;
  margin: auto;  
  margin-top: 100px;
  font-family:'Playfair Display', serif;
}
h2{
  text-align: center;
  font-weight: 600;
  font-family:var(--heading-font);
  font-size:var(--section-title-size);
  margin-bottom: 70px;
  color: var(--white);
}

.espacio{
  background-color:var(--white);
  padding: 40px;
}
.form-control{
  border-radius: 0;
  background-color: var(--white);
  border: none;
  font-size: var(--text-font);
  border-bottom: 3px solid var(--black);
  padding: 5px 3px;
  transition: all 0.3s ease;
  width: 100%;
}

.form-control:focus{
  border-radius: 0;
  background-color: var(--white);
  box-shadow: 0 3px 16px 5px var(--blue);
  border: none;
  font-size: var(--text-font);
  border-bottom: 3px solid var(--black);
  padding: 5px 3px;
  transition: all 0.3s ease;
  width: 100%;
}

.botoncito3{
  background-color: var(--blue);
  border:none;
  color:var(--white);
  padding: 10px;
  border-radius: 6px;
  font-family: var(--text-font);
}


textarea{
  width: 100%;
  height: 200px;
}