main {
    max-width: 2000px;
    width: 100vw;
    margin: auto;
}

.separator {
    padding: 100px 0;
    width: 100%;
    text-align: center;
}

.separator h1 {
    font-size: var(--heading-size);
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 40pt;
    margin: 20px auto;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50%;
    display: block;
    position: relative;
}

.black-box {
    background-image: url('../assets/paintings/abstract2-medium.jpg');
    background-size: cover;
    background-position: center;
}

.black-box-content {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--white);
}

.box-section-content {
    display: inline-block;
    margin: auto;
    width: 90%;
    height: 90%;
}

.box-section-content h3 {
    text-align: center;
    font-size: var(--subheading-size);
    font-weight: 600;
    margin: 30px;
}

.box-section-content p {
    width: 80%;
    text-align: justify;
    font-size: 14pt;
    margin: auto;
}

.landing-see-more {
    position: relative;
    display: block;
    width: 140px;
    text-align: end;
    margin: 30px auto;
}

.landing-see-more .see-more-icon {
    background-color: var(--blue);
    position: absolute;
    display: inline;
    width: 25px;
    border-radius: 20px;
    z-index: -1;
    transition: width 0.3s ease;
    color: var(--white);
}

.landing-see-more .see-more-text {
    z-index: 100;
    display: inline-block;
    width: 120px;
    text-align: end;
    transition: all 0.3s ease;
    padding: 0 20px;
}
.landing-see-more:hover .see-more-icon {
    width: 100%;
}
.landing-see-more:hover .see-more-text {
    color: var(--white);
}

.black-box .landing-see-more {
    color: var(--white);
}

#forms {
    margin: 100px auto;
    background-image: url('../assets/paintings/village.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forms form {
    padding: 50px;
    background-color: var(--white);
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    min-height: 500px;
    backdrop-filter: blur(5px);
}

#forms form h2 {
    font-size: var(--subheading-size);
    margin-bottom: 30px;
}

#forms form label {
    width: 100%;
    font-weight: 600;
}

#forms form input {
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 3px solid var(--black);
    transition: all 0.3s ease;
}

#forms form input:focus,
#forms form input:valid {
    box-shadow: none;
    border-color: var(--blue);
    background: var(--soft-shadow);
}

#forms form textarea {
    width: 100%;
    height: 100px;
    border: none;
    background: transparent;
    resize: none;
    border-bottom: 3px solid var(--black);
}

#forms form textarea:focus,
#forms form textarea:valid {
    outline: none;
    border-color: var(--blue);
    background-color: var(--soft-shadow);
}

#forms form .landing-see-more {
    margin: 50px 0 0;
}
