.navbar {
    position: absolute;
    top: 0;
}

.landing-section {
    height: fit-content;
    width: 100vw;
    max-width: 2000px;
    margin: auto;
}

.landing-section-title {
    margin-top: 150px;
    text-align: center;
}

.images-container-section {
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 95%;
    height: fit-content;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.images-container-section .images {
    width: fit-content;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}
.image-container {
    width: 300px;
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    transition: transform 0.3s ease;
    position: relative;
    margin: 10px;
}

.image-container img {
    display: block;
    width: 110%;
    height: 100%;
    object-fit: cover;
}
.image-container .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.image-container:hover {
    transform: scale(1.05);
}
.image-container:hover .overlay {
    opacity: 1;
}

.gallery-section {
    width: 95%;
} 